body{
    margin: 0%;
    padding: 0%;
    background: url(1.png);
    background-size: cover;

}
.box{
    width: 450px  ;
    height: 450px;
    background-color:powderblue;
    padding: 40px ;
    text-align: center;
    margin: auto;
    margin-top: 5%;
    color: darkgray;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
} 
.box img{

   border-radius: 50%;
   width: 200px;
   height: 200px;
   transition: 0.5s;
   cursor: pointer;
}
.box img:hover{

    transform: scale(0.9);
}
.box h1{
    font-size: 40px;
    letter-spacing: 4px;
    font-weight: 100 ;
}
.box h5{
    font-size: 20px;
    font-weight: 100px;
    letter-spacing: 3px;
}
.box p{
    text-align: justify;
}
ul{
    margin: 0%;
    padding: 0%;

}
.box li {
    display: inline-block;
    margin: 10px;
    list-style: none;
}
.box li a {
    color: white;
    font-size: 60px;
    transition: all ease-in-out 250ms;
}
.box i{
    transition: all ease-in-out 250ms;
}